<!doctype html>
<html>
<head>
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div id="container">
  <%= yield %>
</div>
<script src="/js/static/bundle.js" charset="utf-8"></script>
</body>
</html>