body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
    width: 100%;
    text-align: center;
}

.grid {
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    display: inline-block;
}

input[type=button],
button,
input[type=submit] {
    font-size: 16px;
}

.square,
.square_occupied {
    display: inline-block;
    width: 98px;
    height: 98px;
    line-height: 98px;
    border: 1px solid black;
    font-size: 36px;
}

.square {
    cursor: pointer;
    background-color: yellow;
    color: yellow;
}

.square_occupied.winner {
    background-color: green;
    color: white;
}

.square:hover {
    background-color: yellowgreen;
    color: yellowgreen;
}

.players {
    display: inline-block;
    vertical-align: top;
}

.player {
    height: 50px;
    line-height: 50px;
    width: 200px;
    border: 1px solid black;
    margin: 15px;
}

.player.active {
    background-color: green;
    color: white;
}

.leader-board {
    display: inline-block;
    width: 200px;
    margin: 0 15px 15px;
    vertical-align: top;
}

.leader-board .display {
    padding-bottom: 15px;
}
